In [1]:
# Take orders from CommerceHub and send to 3PL Central

# Need to set up API calls on the GET from CommerceHub and POST to 3PL Central end to fully automate

In [2]:
import pandas as pd
import numpy as np

In [ ]:
from datetime import date

today = date.today()
# print("Today's date:", today)

d['CancelDate'] = today

In [4]:
orders = pd.read_csv(f'macys{today}.csv', skiprows=6)

In [5]:
orders

,Line Expected Ship Date/Time,Customer Order Number,PO Number,Shipping Code,Sales Division,ShipTo Company Name,ShipTo Name,ShipTo Address1,ShipTo Address2,ShipTo City,ShipTo State,ShipTo Postal Code Ext,ShipTo Country,UPC,Quantity,ShipTo Postal Code
0,4/20/2022 0:00,2471961387,74077572,UPS Ground,Macy's (11),NaN,MARLA MAZER,11725 WINGATE LN,NaN,CINCINNATI,OH,NaN,US,854130004632,1,45249-1574
1,4/20/2022 0:00,2472171681,74095634,UPS Ground,Macy's (11),NaN,JUDITH GREECE,32 LAKERIDGE DR,NaN,GREENSBURG,PA,NaN,US,854130004083,1,15601
2,4/20/2022 0:00,2472171681,74095634,UPS Ground,Macy's (11),NaN,JUDITH GREECE,32 LAKERIDGE DR,NaN,GREENSBURG,PA,NaN,US,854130004984,2,15601
3,4/20/2022 0:00,2472535071,74209979,UPS Ground,Macy's (11),NaN,GAIL LIESE,458 OAKHURST ST,NaN,ALTAMONTE SPRINGS,FL,NaN,US,850017943254,1,32701-7808
4,4/20/2022 0:00,2472182223,74318296,UPS Ground,Macy's (11),NaN,KRISTINA SINE,60 L ST NE,APT 1419,WASHINGTON,DC,NaN,US,854130004274,1,20002-2077
5,4/20/2022 0:00,2419258703,74468600,UPS Ground,Macy's (11),NaN,ALLY KINCAID,350 ROSEVILLE PKWY,APT 2612,ROSEVILLE,CA,NaN,US,854130004199,1,95747-4165
6,4/20/2022 0:00,2419447607,74720016,UPS Ground,Macy's (11),NaN,KORI HARTMAN,747 ROCKSHIRE DR,NaN,JANESVILLE,WI,NaN,US,854130004083,1,53546-3320
7,4/20/2022 0:00,2473393821,74802252,UPS Ground,Macy's (11),NaN,SHERRI SMITH,9816 87TH DR,NaN,LIVE OAK,FL,NaN,US,854130004601,1,32060-7211
8,4/20/2022 0:00,2473551798,74980320,UPS Ground,Macy's (11),NaN,JUDY MALASKI,5255 BETHESDA CT,NaN,WILLIAMSBURG,MI,NaN,US,854130004007,1,49690-9100
9,4/20/2022 0:00,2473227540,75141855,UPS Ground,Macy's (11),NaN,KATHLEEN BRAY,2062 HORSESHOE GLEN CIR,NaN,FOLSOM,CA,NaN,US,852408007309,1,95630-6294
10,4/20/2022 0:00,2473323333,75295052,UPS Ground,Macy's (11),NaN,SONIA RODRIGUEZ,15231 MASKETTE AVE,NaN,SAN ANTONIO,TX,NaN,US,854130004489,1,78245-4764
11,4/20/2022 0:00,2473705314,75833436,UPS Ground,Macy's (11),NaN,MARIAN MARSHA CASPER COOK,1175 LAKE COOK RD,APT 211,NORTHBROOK,IL,NaN,US,854130004670,1,60062-1551
12,4/20/2022 0:00,2474077146,76164921,UPS Ground,Macy's (11),NaN,MARSHA WHITE,118 YARDLEY LN,NaN,WILMINGTON,DE,NaN,US,854130004199,1,19810
13,4/20/2022 0:00,2474897451,76523917,UPS Ground,Macy's (11),NaN,TRACY KONDRACKI,251 MEADOW BRANCH RD,NaN,PITTSBORO,NC,NaN,US,854130004458,1,27312-7054
14,4/21/2022 0:00,2475232851,76666983,UPS Ground,Macy's (11),NaN,OSCAR PEREZ,2620 CHARDONNAY CT,NaN,LAREDO,TX,NaN,US,854130004571,1,78045-8664
15,4/21/2022 0:00,2418909224,76673418,UPS Ground,Macy's (11),NaN,JULIE KOSS,4 CHISHOLM WAY,NaN,WILMINGTON,MA,NaN,US,854130004229,1,01887-6250

In [6]:
orders['Shipping Code']= orders['Shipping Code'].str.split()

In [7]:
orders['ShipCarrier'] = orders['Shipping Code'][0][0]
orders['ShipService'] = orders['Shipping Code'][0][1]

In [8]:
orders

,Line Expected Ship Date/Time,Customer Order Number,PO Number,Shipping Code,Sales Division,ShipTo Company Name,ShipTo Name,ShipTo Address1,ShipTo Address2,ShipTo City,ShipTo State,ShipTo Postal Code Ext,ShipTo Country,UPC,Quantity,ShipTo Postal Code,ShipCarrier,ShipService
0,4/20/2022 0:00,2471961387,74077572,"[UPS, Ground]",Macy's (11),NaN,MARLA MAZER,11725 WINGATE LN,NaN,CINCINNATI,OH,NaN,US,854130004632,1,45249-1574,UPS,Ground
1,4/20/2022 0:00,2472171681,74095634,"[UPS, Ground]",Macy's (11),NaN,JUDITH GREECE,32 LAKERIDGE DR,NaN,GREENSBURG,PA,NaN,US,854130004083,1,15601,UPS,Ground
2,4/20/2022 0:00,2472171681,74095634,"[UPS, Ground]",Macy's (11),NaN,JUDITH GREECE,32 LAKERIDGE DR,NaN,GREENSBURG,PA,NaN,US,854130004984,2,15601,UPS,Ground
3,4/20/2022 0:00,2472535071,74209979,"[UPS, Ground]",Macy's (11),NaN,GAIL LIESE,458 OAKHURST ST,NaN,ALTAMONTE SPRINGS,FL,NaN,US,850017943254,1,32701-7808,UPS,Ground
4,4/20/2022 0:00,2472182223,74318296,"[UPS, Ground]",Macy's (11),NaN,KRISTINA SINE,60 L ST NE,APT 1419,WASHINGTON,DC,NaN,US,854130004274,1,20002-2077,UPS,Ground
5,4/20/2022 0:00,2419258703,74468600,"[UPS, Ground]",Macy's (11),NaN,ALLY KINCAID,350 ROSEVILLE PKWY,APT 2612,ROSEVILLE,CA,NaN,US,854130004199,1,95747-4165,UPS,Ground
6,4/20/2022 0:00,2419447607,74720016,"[UPS, Ground]",Macy's (11),NaN,KORI HARTMAN,747 ROCKSHIRE DR,NaN,JANESVILLE,WI,NaN,US,854130004083,1,53546-3320,UPS,Ground
7,4/20/2022 0:00,2473393821,74802252,"[UPS, Ground]",Macy's (11),NaN,SHERRI SMITH,9816 87TH DR,NaN,LIVE OAK,FL,NaN,US,854130004601,1,32060-7211,UPS,Ground
8,4/20/2022 0:00,2473551798,74980320,"[UPS, Ground]",Macy's (11),NaN,JUDY MALASKI,5255 BETHESDA CT,NaN,WILLIAMSBURG,MI,NaN,US,854130004007,1,49690-9100,UPS,Ground
9,4/20/2022 0:00,2473227540,75141855,"[UPS, Ground]",Macy's (11),NaN,KATHLEEN BRAY,2062 HORSESHOE GLEN CIR,NaN,FOLSOM,CA,NaN,US,852408007309,1,95630-6294,UPS,Ground
10,4/20/2022 0:00,2473323333,75295052,"[UPS, Ground]",Macy's (11),NaN,SONIA RODRIGUEZ,15231 MASKETTE AVE,NaN,SAN ANTONIO,TX,NaN,US,854130004489,1,78245-4764,UPS,Ground
11,4/20/2022 0:00,2473705314,75833436,"[UPS, Ground]",Macy's (11),NaN,MARIAN MARSHA CASPER COOK,1175 LAKE COOK RD,APT 211,NORTHBROOK,IL,NaN,US,854130004670,1,60062-1551,UPS,Ground
12,4/20/2022 0:00,2474077146,76164921,"[UPS, Ground]",Macy's (11),NaN,MARSHA WHITE,118 YARDLEY LN,NaN,WILMINGTON,DE,NaN,US,854130004199,1,19810,UPS,Ground
13,4/20/2022 0:00,2474897451,76523917,"[UPS, Ground]",Macy's (11),NaN,TRACY KONDRACKI,251 MEADOW BRANCH RD,NaN,PITTSBORO,NC,NaN,US,854130004458,1,27312-7054,UPS,Ground
14,4/21/2022 0:00,2475232851,76666983,"[UPS, Ground]",Macy's (11),NaN,OSCAR PEREZ,2620 CHARDONNAY CT,NaN,LAREDO,TX,NaN,US,854130004571,1,78045-8664,UPS,Ground
15,4/21/2022 0:00,2418909224,76673418,"[UPS, Ground]",Macy's (11),NaN,JULIE KOSS,4 CHISHOLM WAY,NaN,WILMINGTON,MA,NaN,US,854130004229,1,01887-6250,UPS,Ground

In [9]:
orders = orders.drop(['Line Expected Ship Date/Time',
                     'ShipTo Company Name', 'ShipTo Postal Code Ext', 'Shipping Code'], axis=1)
orders

,Customer Order Number,PO Number,Sales Division,ShipTo Name,ShipTo Address1,ShipTo Address2,ShipTo City,ShipTo State,ShipTo Country,UPC,Quantity,ShipTo Postal Code,ShipCarrier,ShipService
0,2471961387,74077572,Macy's (11),MARLA MAZER,11725 WINGATE LN,NaN,CINCINNATI,OH,US,854130004632,1,45249-1574,UPS,Ground
1,2472171681,74095634,Macy's (11),JUDITH GREECE,32 LAKERIDGE DR,NaN,GREENSBURG,PA,US,854130004083,1,15601,UPS,Ground
2,2472171681,74095634,Macy's (11),JUDITH GREECE,32 LAKERIDGE DR,NaN,GREENSBURG,PA,US,854130004984,2,15601,UPS,Ground
3,2472535071,74209979,Macy's (11),GAIL LIESE,458 OAKHURST ST,NaN,ALTAMONTE SPRINGS,FL,US,850017943254,1,32701-7808,UPS,Ground
4,2472182223,74318296,Macy's (11),KRISTINA SINE,60 L ST NE,APT 1419,WASHINGTON,DC,US,854130004274,1,20002-2077,UPS,Ground
5,2419258703,74468600,Macy's (11),ALLY KINCAID,350 ROSEVILLE PKWY,APT 2612,ROSEVILLE,CA,US,854130004199,1,95747-4165,UPS,Ground
6,2419447607,74720016,Macy's (11),KORI HARTMAN,747 ROCKSHIRE DR,NaN,JANESVILLE,WI,US,854130004083,1,53546-3320,UPS,Ground
7,2473393821,74802252,Macy's (11),SHERRI SMITH,9816 87TH DR,NaN,LIVE OAK,FL,US,854130004601,1,32060-7211,UPS,Ground
8,2473551798,74980320,Macy's (11),JUDY MALASKI,5255 BETHESDA CT,NaN,WILLIAMSBURG,MI,US,854130004007,1,49690-9100,UPS,Ground
9,2473227540,75141855,Macy's (11),KATHLEEN BRAY,2062 HORSESHOE GLEN CIR,NaN,FOLSOM,CA,US,852408007309,1,95630-6294,UPS,Ground
10,2473323333,75295052,Macy's (11),SONIA RODRIGUEZ,15231 MASKETTE AVE,NaN,SAN ANTONIO,TX,US,854130004489,1,78245-4764,UPS,Ground
11,2473705314,75833436,Macy's (11),MARIAN MARSHA CASPER COOK,1175 LAKE COOK RD,APT 211,NORTHBROOK,IL,US,854130004670,1,60062-1551,UPS,Ground
12,2474077146,76164921,Macy's (11),MARSHA WHITE,118 YARDLEY LN,NaN,WILMINGTON,DE,US,854130004199,1,19810,UPS,Ground
13,2474897451,76523917,Macy's (11),TRACY KONDRACKI,251 MEADOW BRANCH RD,NaN,PITTSBORO,NC,US,854130004458,1,27312-7054,UPS,Ground
14,2475232851,76666983,Macy's (11),OSCAR PEREZ,2620 CHARDONNAY CT,NaN,LAREDO,TX,US,854130004571,1,78045-8664,UPS,Ground
15,2418909224,76673418,Macy's (11),JULIE KOSS,4 CHISHOLM WAY,NaN,WILMINGTON,MA,US,854130004229,1,01887-6250,UPS,Ground

In [10]:
orders_list = orders.columns.to_list()

In [11]:
orders_list

['Customer Order Number',
 'PO Number',
 'Sales Division',
 'ShipTo Name',
 'ShipTo Address1',
 'ShipTo Address2',
 'ShipTo City',
 'ShipTo State',
 'ShipTo Country',
 'UPC',
 'Quantity',
 'ShipTo Postal Code',
 'ShipCarrier',
 'ShipService']

In [12]:
# Keep these columns or at least the data underneath and put them into text tab delimited format (template).

In [14]:
template = pd.read_excel('Order Import Template.xlsx', skiprows=1)

In [15]:
template

Empty DataFrame
Columns: [ReferenceNumber, PurchaseOrderNumber, ShipCarrier, ShipService, ShipBilling, ShipAccount, ShipDate, CancelDate, Notes, ShipTo Name, ShipToCompany, ShipToAddress1, ShipToAddress2, ShipToCity, ShipToState, ShipToZip, ShipToCountry, ShipToPhone, ShipToFax, ShipToEmail, ShipToCustomerID, ShipToDeptNumber, RetailerID, SKU, Quantity, UseCOD, UseInsurance, Saved Elements, Order Item Saved Elements, Carrier Notes]
Index: []

[0 rows x 30 columns]

In [16]:
template.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ReferenceNumber            0 non-null      object
 1   PurchaseOrderNumber        0 non-null      object
 2   ShipCarrier                0 non-null      object
 3   ShipService                0 non-null      object
 4   ShipBilling                0 non-null      object
 5   ShipAccount                0 non-null      object
 6   ShipDate                   0 non-null      object
 7   CancelDate                 0 non-null      object
 8   Notes                      0 non-null      object
 9   ShipTo Name                0 non-null      object
 10  ShipToCompany              0 non-null      object
 11  ShipToAddress1             0 non-null      object
 12  ShipToAddress2             0 non-null      object
 13  ShipToCity                 0 non-null      object
 14  ShipToState                0 non-null      object
 15  ShipToZip                  0 non-null      object
 16  ShipToCountry              0 non-null      object
 17  ShipToPhone                0 non-null      object
 18  ShipToFax                  0 non-null      object
 19  ShipToEmail                0 non-null      object
 20  ShipToCustomerID           0 non-null      object
 21  ShipToDeptNumber           0 non-null      object
 22  RetailerID                 0 non-null      object
 23  SKU                        0 non-null      object
 24  Quantity                   0 non-null      object
 25  UseCOD                     0 non-null      object
 26  UseInsurance               0 non-null      object
 27  Saved Elements             0 non-null      object
 28  Order Item Saved Elements  0 non-null      object
 29  Carrier Notes              0 non-null      object
dtypes: object(30)
memory usage: 0.0+ bytes

In [17]:
column_list = template.columns.to_list()

In [18]:
len(column_list)

30

In [19]:
column_list

['ReferenceNumber',
 'PurchaseOrderNumber',
 'ShipCarrier',
 'ShipService',
 'ShipBilling',
 'ShipAccount',
 'ShipDate',
 'CancelDate',
 'Notes',
 'ShipTo Name',
 'ShipToCompany',
 'ShipToAddress1',
 'ShipToAddress2',
 'ShipToCity',
 'ShipToState',
 'ShipToZip',
 'ShipToCountry',
 'ShipToPhone',
 'ShipToFax',
 'ShipToEmail',
 'ShipToCustomerID',
 'ShipToDeptNumber',
 'RetailerID',
 'SKU',
 'Quantity',
 'UseCOD',
 'UseInsurance',
 'Saved Elements',
 'Order Item Saved Elements',
 'Carrier Notes']

In [20]:
len(orders)

16

In [21]:
orders.columns.to_list()

['Customer Order Number',
 'PO Number',
 'Sales Division',
 'ShipTo Name',
 'ShipTo Address1',
 'ShipTo Address2',
 'ShipTo City',
 'ShipTo State',
 'ShipTo Country',
 'UPC',
 'Quantity',
 'ShipTo Postal Code',
 'ShipCarrier',
 'ShipService']

In [22]:
macy_account = '7R383Y'

In [23]:
d = pd.DataFrame("", index=np.arange(len(orders)), columns=column_list)
d

,ReferenceNumber,PurchaseOrderNumber,ShipCarrier,ShipService,ShipBilling,ShipAccount,ShipDate,CancelDate,Notes,ShipTo Name,...,ShipToCustomerID,ShipToDeptNumber,RetailerID,SKU,Quantity,UseCOD,UseInsurance,Saved Elements,Order Item Saved Elements,Carrier Notes
0,,,,,,,,,,,...,,,,,,,,,,
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,,,,,,,,,,,...,,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,
5,,,,,,,,,,,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,,,,,,,,,,,...,,,,,,,,,,
10,,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,
12,,,,,,,,,,,...,,,,,,,,,,
13,,,,,,,,,,,...,,,,,,,,,,
14,,,,,,,,,,,...,,,,,,,,,,
15,,,,,,,,,,,...,,,,,,,,,,

In [25]:
d[['ReferenceNumber',
   'PurchaseOrderNumber',
   'ShipCarrier',
   'ShipService',
   'Notes',
   'ShipToCompany',
   'ShipToAddress1',
   'ShipToAddress2',
   'ShipToCity',
   'ShipToState',
   'ShipToZip',
   'ShipToCountry',
   'SKU',
   'Quantity'
   ]] = orders[['PO Number',
                'Customer Order Number',
                'ShipCarrier',
                'ShipService',
                'Sales Division',
                'ShipTo Name',
                'ShipTo Address1',
                'ShipTo Address2',
                'ShipTo City',
                'ShipTo State',
                'ShipTo Postal Code',
                'ShipTo Country',
                'UPC',
                'Quantity',
                ]]
d

,ReferenceNumber,PurchaseOrderNumber,ShipCarrier,ShipService,ShipBilling,ShipAccount,ShipDate,CancelDate,Notes,ShipTo Name,...,ShipToCustomerID,ShipToDeptNumber,RetailerID,SKU,Quantity,UseCOD,UseInsurance,Saved Elements,Order Item Saved Elements,Carrier Notes
0,74077572,2471961387,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004632,1,,,,,
1,74095634,2472171681,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004083,1,,,,,
2,74095634,2472171681,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004984,2,,,,,
3,74209979,2472535071,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,850017943254,1,,,,,
4,74318296,2472182223,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004274,1,,,,,
5,74468600,2419258703,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004199,1,,,,,
6,74720016,2419447607,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004083,1,,,,,
7,74802252,2473393821,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004601,1,,,,,
8,74980320,2473551798,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004007,1,,,,,
9,75141855,2473227540,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,852408007309,1,,,,,
10,75295052,2473323333,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004489,1,,,,,
11,75833436,2473705314,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004670,1,,,,,
12,76164921,2474077146,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004199,1,,,,,
13,76523917,2474897451,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004458,1,,,,,
14,76666983,2475232851,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004571,1,,,,,
15,76673418,2418909224,UPS,Ground,,,,2022-04-18,Macy's (11),,...,,,,854130004229,1,,,,,

In [26]:
d['ShipBilling'] = 'Prepaid'
d

,ReferenceNumber,PurchaseOrderNumber,ShipCarrier,ShipService,ShipBilling,ShipAccount,ShipDate,CancelDate,Notes,ShipTo Name,...,ShipToCustomerID,ShipToDeptNumber,RetailerID,SKU,Quantity,UseCOD,UseInsurance,Saved Elements,Order Item Saved Elements,Carrier Notes
0,74077572,2471961387,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004632,1,,,,,
1,74095634,2472171681,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004083,1,,,,,
2,74095634,2472171681,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004984,2,,,,,
3,74209979,2472535071,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,850017943254,1,,,,,
4,74318296,2472182223,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004274,1,,,,,
5,74468600,2419258703,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004199,1,,,,,
6,74720016,2419447607,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004083,1,,,,,
7,74802252,2473393821,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004601,1,,,,,
8,74980320,2473551798,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004007,1,,,,,
9,75141855,2473227540,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,852408007309,1,,,,,
10,75295052,2473323333,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004489,1,,,,,
11,75833436,2473705314,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004670,1,,,,,
12,76164921,2474077146,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004199,1,,,,,
13,76523917,2474897451,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004458,1,,,,,
14,76666983,2475232851,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004571,1,,,,,
15,76673418,2418909224,UPS,Ground,Prepaid,,,2022-04-18,Macy's (11),,...,,,,854130004229,1,,,,,

In [27]:
d['ShipAccount'] = macy_account
d

,ReferenceNumber,PurchaseOrderNumber,ShipCarrier,ShipService,ShipBilling,ShipAccount,ShipDate,CancelDate,Notes,ShipTo Name,...,ShipToCustomerID,ShipToDeptNumber,RetailerID,SKU,Quantity,UseCOD,UseInsurance,Saved Elements,Order Item Saved Elements,Carrier Notes
0,74077572,2471961387,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004632,1,,,,,
1,74095634,2472171681,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004083,1,,,,,
2,74095634,2472171681,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004984,2,,,,,
3,74209979,2472535071,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,850017943254,1,,,,,
4,74318296,2472182223,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004274,1,,,,,
5,74468600,2419258703,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004199,1,,,,,
6,74720016,2419447607,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004083,1,,,,,
7,74802252,2473393821,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004601,1,,,,,
8,74980320,2473551798,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004007,1,,,,,
9,75141855,2473227540,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,852408007309,1,,,,,
10,75295052,2473323333,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004489,1,,,,,
11,75833436,2473705314,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004670,1,,,,,
12,76164921,2474077146,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004199,1,,,,,
13,76523917,2474897451,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004458,1,,,,,
14,76666983,2475232851,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004571,1,,,,,
15,76673418,2418909224,UPS,Ground,Prepaid,7R383Y,,2022-04-18,Macy's (11),,...,,,,854130004229,1,,,,,

In [28]:
d.dtypes

ReferenceNumber               int64
PurchaseOrderNumber           int64
ShipCarrier                  object
ShipService                  object
ShipBilling                  object
ShipAccount                  object
ShipDate                     object
CancelDate                   object
Notes                        object
ShipTo Name                  object
ShipToCompany                object
ShipToAddress1               object
ShipToAddress2               object
ShipToCity                   object
ShipToState                  object
ShipToZip                    object
ShipToCountry                object
ShipToPhone                  object
ShipToFax                    object
ShipToEmail                  object
ShipToCustomerID             object
ShipToDeptNumber             object
RetailerID                   object
SKU                           int64
Quantity                      int64
UseCOD                       object
UseInsurance                 object
Saved Elements               object
Order Item Saved Elements    object
Carrier Notes                object
dtype: object

In [ ]:
# # Create a Pandas Excel writer using XlsxWriter as the engine.
# writer = pd.ExcelWriter('Order Import Template.xlsx', engine='xlsxwriter')

# # Convert the dataframe to an XlsxWriter Excel object.
# # d.to_excel(writer, sheet_name='Order Import Template',
# #             index=False, startrow=2)
# d.to_csv(writer, index=False, sep="\t")

# # Close the Pandas Excel writer and output the Excel file.
# writer.save()

In [ ]:
# d.to_csv('Order Import Template.xlsx',
#             sep="\t",
#             index=False)

In [ ]:
# d.to_csv('file3.csv', header=False, index=False, sep='\t')

In [29]:
d.to_csv(f'Test for Macy order {today}.txt', header=None,
         index=None, sep='\t', mode='a')